body {
    color:white;
    background: rgb(127, 1, 1);
    margin: 0px;
    font-family: "Baskervville SC", serif;
}

header {
    border-bottom: solid 2px rgb(36, 55, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(246, 222, 124)
}

section {
    background: rgb(36, 55, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
  }

  section {
    padding-left: 20px;
    padding-right: 20xp;
  }